<div class="jumbotron">
  <div class="container">
    <h1>Address and Weather</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>The current temperature at <strong><%= @the_address %></strong> is <strong><%= @the_temperature %></strong></p>

      <p>The outlook for the next hour is: <strong><%= @the_hour_outlook %></strong></p>

      <p>The outlook for the next day is: <strong><%= @the_day_outlook %></strong></p>

    </div>
  </div>
</div>
